<launch>
    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <rosparam file="$(find orihime_t)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find orihime_t)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find orihime_t)/config/global_costmap_params.yaml" command="load"/>
        <rosparam file="$(find orihime_t)/config/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find orihime_t)/config/move_base_params_test.yaml" command="load"/>
        <rosparam file="$(find orihime_t)/config/teb_local_planner_params.yaml" command="load"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
</launch>